* {
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    flex-direction: row;
    background-color: gainsboro;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    flex-direction: row;
    margin: 0;
    margin-left: 50px;
    align-items: center;
    gap: 25px;
    
}

.nav-link {
    background: none;
    color: rgb(43, 66, 66);
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.nav-link:hover {
    background: rgb(206, 206, 206);
}

.nav-link.current {
    color: white;
    background-color: rgb(70, 162, 255);
}

.nav-link.current:hover {
    background-color: dodgerblue;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.canvas {
    border: 1px solid black;
}

.score-container {
    margin-top: 20px;
    display: flex;
    gap: 50px;
}

.text {
    font-size: 24px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.reset-btn {
    display: none;
    color: white;
    background-color: rgb(70, 162, 255);
    font-size: 24px;
    width: 25%;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.reset-btn:hover {
    background-color: dodgerblue;
}

